# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
main

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.env*
!.env.example
*.db
*.db-journal
__debug_bin
.vscode
tmp/
*.pid

# Docker specific
flow/
api/
.github/
examples/
docker/

# Not required for build
flow/
api-test-scripts/
*.md
*.svg
*.html
*.yml
